{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Agendando horário</strong>

    <div class="provider">
      <div>
        <img src="/files/{{ provider.avatar }}" />
        <strong>{{ provider.name }} </strong>
      </div>

    </div>

    <form action="/app/appointments/news/{{ provider.id }}" method="post">
      <input type="text" class="flatpickr" placeholder="Escolha uma data">


    </form>

  </div>

{% endblock %}
